body {
  font-family: helvetica, garamond;
}

h1 {
  color: white;
  position: relative;
  background: #24167c;
  height: 90px;
  font-size: 300%;
  padding-top: 15px;
  padding-left: 15px;
}

h1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px #24167c;
    box-shadow: 9999px 0 0 #24167c;
}

.event-details {
  align: center;
  position: absolute;
  padding-left: 20px;
  margin-top: -25px;
  margin-bottom: 50px;
  z-index: 2;
}

#event-info, #event-description, #event-tags {
  margin: 0 auto;
  background: #fff9f2;
  position: relative;
  border-radius: 12px;
  padding: 30px;
  max-width: 80%;
  z-index: 1;
}

#event-description, #event-tags {
  display: none;
}

img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  max-width: 80%;
}


@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
}

@media only screen and (min-width: 1200px) {
    /* styles for wide screens */
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}


.comments {
  margin: 20px auto;
  background: #f7f7f7;
  position: relative;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 80%;
  text-align: center;
  z-index: 1;
}

