.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.learn-more {
  background-color: #ff6666;
  color:#fff;
  border:none !important;
}

.learn-more:hover {
  background-color: #ff3333 !important;
  color:#fff;
  border:none !important;
}

button {
  background-color: #ff6666;
  color:#fff;
  border:none !important;
}

button:hover {
  background-color: #ff3333 !important;
  color:#fff;
  border:none !important;
}

.btn-success {
  background-color: #ff6666;
  border:none !important;
}

.btn-success:hover{
  background-color: #ff3333 !important;
  border:none !important;
}

.btn-success:active{
  background-color: #ff6666 !important;
  box-shadow: none !important;
  border:none !important;
}

.active{
  background-color: #ff3333 !important;
  box-shadow: none !important;
  border:none !important;
}

.btn-success:focus{
  background-color: #ff3333;
  border:none !important;
}

.container {
  background: #fff;
}
.container > #white {
  display:none;
}
footer > .row > .container {
  background:transparent;
}

/*modal window*/
.modal-header , .close h4 {
      background-color: #ff6666;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
.modal-backdrop.fade {
/*  display:none;
*/
z-index: 0;
}

.startanaction {
  border-radius:1em;
  text-align: center;
  margin:1em;
  font-size: 1.2em;
}
.startanaction h3 {
  font-size: 1.2em;
}
.startanaction:hover {
  background-color: #ffb3b3 !important;
}

.startanactionChosen {
  background-color: #ffb3b3 !important;
  border-radius:1em;
  text-align: center;
  margin:1em;
  font-size: 1.2em;
}

.startanaction-desc {
  color: #999;
  font-size: .8em;
}
.startsomethingmodal.modal-body {

}

.ng-cloak { 
  display:none !important;
}

.jumbotron {

}

.material-card {
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.material-card:hover {
 box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card__image {
  border-radius: 1px 1px 0 0;
  left: -100%;
  right: 0;
  top: 0;
  max-height: 0;
  opacity: 0; 
}

.card__title {
top: 135px; }


/*// text element
*/.card__text {
top: 176px; }


.card__action-bar {
left: 0; }

.background-div
{
    background: url("https://i.ytimg.com/vi/rUJT0UtztvA/maxresdefault.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}