body {
  font-family: helvetica, garamond;
}

h1 {
  color: white;
  position: relative;
  background: black;
  height: 90px;
  font-size: 300%;
  padding-top: 15px;
  padding-left: 15px;
}

h1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid black;
    box-shadow: 9999px 0 0 black;
}

.btn-warning {
  background-color: #FF6464;
  font-weight: 140%;
}

.user-options {
  align: center;
  position: absolute;
  padding-left: 20px;
  margin-top: -25px;
  margin-bottom: 50px;
}

#user-profile, #user-activity, #user-tags {
  margin: 0 auto;
  background: #fff9f2;
  position: relative;
  border-radius: 12px;
  padding: 30px;
  max-width: 80%;
  display: none;
  z-index: -1;
}
