<div class="modal-lg">
       <div class="modal-header">
         What would you a like to start in your community?<button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
         <div class="modal-body-lg">
        <div class="col-lg-12 modal-white-bg">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3 startanaction" id="create_conversation" name="create_page">
            <h3>Make a Post</h3>
            <p class="startanaction-desc"> Raise awareness and start a conversation</p> </label>
          </div>

          <div class="col-lg-3 startanaction" id="create_event" name="create_page">
            <h3>Create an Event</h3>
            <p class="startanaction-desc">Get people together for a local gathering</p> </label>

          </div>

          <div class="col-lg-3 startanaction" id="create_campaign" name="create_page">
            <h3>Begin a Campaign</h3>
            <p class="startanaction-desc">Raise funds for a local project, cause, or enterprise.</p> </label>

          </div>
          <div class="col-lg-1">
          </div>
          
        </div>
      </div>
        <div  class="modal-footer">
          <button type="button" id = "createAction1Next" class="btn btn-success btn-block" value="Go to next page"><span class="glyphicon glyphicon-off"></span>Next</button>
        </div>
</div>