<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
  </head>
  <main ng-app="loqalusClientApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/"><img src="images/loqalus.png" alt="Loqalus" style="max-height:35px;"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="navController as nav">
              <li><a href="/#/projects">Projects</a></li>
              <li><a ng-href="/#/conversations">Conversations</a></li>
              <li><a ng-href="/#/events">Events</a></li>
              <li><a ng-show="{{nav.isLoggedIn}}" class="ng-cloak" ng-href="/#/profile/{{nav.uid}}">Your Profile</a></li>
              <li><a ng-hide="{{nav.isLoggedIn}}" class="ng-cloak" ng-click="nav.openSignUpModal()">Sign In</a></li>
              <li><a ng-hide="{{nav.isLoggedIn}}" class="ng-cloak" ng-click="nav.openRegisterModal()">Sign Up</a></li>
              <li><a ng-show="{{nav.isLoggedIn}}" class="ng-cloak" ng-click="nav.signOut()">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div>
    <div ng-view=""> </div>
    </div>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAxbb37Xa3uRzWuAwzfUzFIUCIaD3DjLBs&libraries=drawing"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/factories/urlFactory.js"></script>
        <script src="scripts/factories/geolocator.js"></script>
        <script src="scripts/factories/mapService.js"></script>
        <script src="scripts/factories/userFactory.js"></script>
        <script src="scripts/factories/newActionPage.js"></script>
        <script src="scripts/factories/templateFactory.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/campaignMasterlist.js"></script>
        <script src="scripts/controllers/conversationMasterlist.js"></script>
        <script src="scripts/controllers/eventMasterlist.js"></script>
        <script src="scripts/controllers/createConvoModal.js"></script>
        <script src="scripts/controllers/createCampModal.js"></script>
        <script src="scripts/controllers/createEventModal.js"></script>
        <script src="scripts/controllers/modalOneController.js"></script>
        <script src="scripts/controllers/modalInhouseCtrl.js"></script>
        <script src="scripts/controllers/modalTwoController.js"></script>
        <script src="scripts/controllers/editActionCtrl.js"></script>
        <script src="scripts/controllers/eventCtrl.js"></script>
        <script src="scripts/controllers/conversationCtrl.js"></script>
        <script src="scripts/controllers/signInAndModalCtrl.js"></script>
        <script src="scripts/controllers/navController.js"></script>
        <script src="scripts/controllers/editProfileCtrl.js"></script>
        <script src="scripts/controllers/profileController.js"></script>
        <!-- endbuild -->

</main>
    <footer class="footer-distributed navbar-fixed-bottom">

      <div class="footer-right">

        <a href="https://www.facebook.com/Loqalus-1623889444524658" target="_blank"><i class="  fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/loqalus_chicago" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.youtube.com/watch?v=UCw_LexErxQ" target="_blank"><i class="fa fa-youtube-play"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#/projects">Projects</a>
          ·
          <a href="#/conversations">Conversations</a>
          ·
          <a href="#/events">Events</a>
          <!-- · -->
<!--           <a href="#">About Us</a>
 -->        </p>

        <p>Loqalus &copy; 2016</p>
      </div>
    </footer>
</html>
