
    <section id="blog" class="container">
        <div class="center">
            <h2>Event</h2>
            <p class="lead">{{eventCtrl.theEvent.title}}</p>
        </div>

        <div class="blog">
            <div class="row">
  <a ng-show="eventCtrl.isOwner"><button type="button" ng-click = "eventCtrl.editAction()" class="btn btn-danger btn-lg">Edit</button></a>
  <a ng-show="eventCtrl.isOwner"><button type="button" ng-click = "eventCtrl.deleteAction()" class="btn btn-danger btn-lg">Delete Event</button></a>
                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                                
                            <div class="col-xs-12 col-sm-10 blog-content">

                                <h2><a>{{eventCtrl.theEvent.title}}</a></h2>
                                <h3>{{eventCtrl.theEvent.description}}</h3>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                </div><!--/.col-md-8-->


                <aside class="col-md-4">
                    <div class="widget tags">
                        <h3>Tags</h3>
                        <ul class="tag-cloud">
                            <li ng-repeat="tag in eventCtrl.tags"><a class="btn btn-xs btn-primary" >{{tag}}</a></li>
                            <p ng-if="eventCtrl.tags.length == 0" class="text-muted">This Event has no Tags</p>
                        </ul>

                    </div><!--/.tags-->
                    <div class="widget categories">
                        <h3>Created By</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
                    <img src="images/avatar3.png" alt=""  />
                    <p>{{eventCtrl.Owner.bio}}</p>
                                    <div class="entry-meta small muted">
                                        <span>By <a ng-href="/#/profile/{{eventCtrl.Owner.id}}">{{eventCtrl.Owner.name}}</a></span>
                                    </div>
                  </div>
                            </div>
                        </div>                     
                    </div><!--/.recent comments-->
              </aside>  
                  </div>
                        <h1 id="comments_title">{{eventCtrl.comments.length}} Comments</h1>
                      <div ng-repeat="comment in eventCtrl.comments">
                        <div class="media comment_section">
                            <div class="media-body post_reply_comments">
                                <h3>{{comment.user.name}}</h3>
                                <h4>{{eventCtrl.dates[$index] | date: 'medium'}}</h4>
                                <p>{{comment.comment}}</p>
                                <a ng-if="eventCtrl.isOwner || eventCtrl.createdThisComment($index)" href="" ng-click="eventCtrl.deleteComment($index)" >Delete</a>
                            </div>
                        </div>
                      </div>
                        <div id="contact-page clearfix">
                            <div class="status alert alert-success" style="display: none"></div>
                            <div class="message_heading">
                                <h4>Leave a Comment</h4>
                            </div> 
      
                            <form class="contact-form" name="contact-form" role="form">
                                <div class="row">
                                    <div class="col-sm-7">                        
                                        <div class="form-group">
                                            <label>Message *</label>
                                            <textarea name="message" ng-model="eventCtrl.newComment" required="required" class="form-control" rows="8"></textarea>
                                        </div>                        
                                        <div class="form-group">
                                            <button type="button" ng-disabled="eventCtrl.disablePostComment()" ng-click="eventCtrl.addComment()" class="btn btn-success btn-lg" required="required">Submit Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>     
                        </div><!--/#contact-page-->
    </section>

                    </div><!--/.col-md-8-->
            </div><!--/.row-->


