<div style="height: 420px">
    <div uib-carousel active="active" interval="vm.myInterval">
      <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">

        <img class="carroImg" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{vm.slide.id}}</h4>
          <p>{{vm.slide.text}}</p>
        </div>
      </div>
    </div>
</div>
<!-- /.carousel -->


<div ng-repeat="event in vm.allEvents" ng-if="$index % 3 == 0" class="row">
    <div class="col-md-4">
      <div class="padme text-center material-card">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{vm.allEvents[$index].title}}</h2>
      <p>{{ vm.allEvents[$index].description | limitTo: 20 }}{{vm.allEvents[$index].description  > 20 ? '...' : ''}}</p>
      <p><a ng-show="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="#/event/{{vm.allEvents[$index].id}}">Learn more »</a>
         <a target="_blank" target="_blank" ng-hide="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="{{vm.allEvents[$index].link}}">Go to external site »</a>
      </p>
    </div>
    </div>
    <div class="col-md-4" ng-if="vm.allEvents.length > ($index + 1)">
      <div class="padme text-center material-card">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{vm.allEvents[$index+1].title}}</h2>
      <p>{{ vm.allEvents[$index+1].description | limitTo: 20 }}{{vm.allEvents[$index+1].description  > 20 ? '...' : ''}}</p>
      <p><a ng-show="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="#/event/{{vm.allEvents[$index+1].id}}">Learn more »</a>
         <a target="_blank" ng-hide="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="{{vm.allEvents[$index+1].link}}">Go to external site »</a>
      </p>
      </div>

    </div>
    <div class="col-md-4" ng-if="vm.allEvents.length > ($index + 2)">
       <div class="padme text-center material-card">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>{{vm.allEvents[$index+2].title}}</h2>
      <p>{{ vm.allEvents[$index+2].description | limitTo: 20 }}{{vm.allEvents[$index+2].description  > 20 ? '...' : ''}}</p>
      <p><a ng-show="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="#/event/{{vm.allEvents[$index+2].id}}">Learn more »</a>
         <a target="_blank" ng-hide="vm.allEvents[$index].in_house" class="btn btn-default" ng-href="{{vm.allEvents[$index+2].link}}">Go to external site »</a>
      </p>
      </div>
    </div>


</div>

