<div class="container-fluid">
 <ng-map on-zoom_changed="main.zoomChanged()" on-dragend="main.dragEnd()" on-dragstart="main.dragStart()" zoom="{{main.zoom}}" center="[{{main.lat}}, {{main.lng}}]" scrollWheel="false" disable-default-u-i="true" zoom-control="true" streetViewControl="false">
    <drawing-manager
      on-overlaycomplete="main.onMapOverlayCompleted(this)"
      drawing-control-options="{position: 'BOTTOM_CENTER', drawingModes:['marker']}"
      drawingControl="true"
      drawingMode="null"
      markerOptions="{fillColor: '#000000',
          fillOpacity: 1,
          strokeWeight: 5,
          clickable: false,
          editable: true,
        }">
    </drawing-manager>
</ng-map>
</div>

<div class="center" id="mission">
  <h2>See what's happening in your community! </h2>
  <p>Loqalus is a community building tool which helps you discover local events, conversations, and crowdfunding projects that are interesting to you. We aim to reinvent how people work together by integrating neighborhood ties with technology in order to create a community hub fit for today’s world.
 
 <br>
 <br>
  Sign-up to create a profile and get updates from our team!

 <br>
 <br>
  If you're interested in learning more about our startup, please <a href = "mailto:carloscurrea@loqalus.com">email us!</a>

</p>
</div>
