<div class="container-fluid">
 <ng-map zoom="{{main.zoom}}" center="[{{main.lat}}, {{main.lng}}]" scrollWheel="false" disable-default-u-i="true" zoom-control="true" streetViewControl="false">
    <drawing-manager
      on-overlaycomplete="main.onMapOverlayCompleted(this)"
      drawing-control-options="{position: 'BOTTOM_CENTER', drawingModes:['marker']}"
      drawingControl="true"
      drawingMode="null"
      markerOptions="{fillColor: '#000000',
          fillOpacity: 1,
          strokeWeight: 5,
          clickable: false,
          editable: true,
        }">
    </drawing-manager>
</ng-map>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
