    <!-- build:css(.tmp) styles/profile.css -->
<!-- <link rel="stylesheet" href="app/styles/profile.css"> -->
    <!-- endbuild -->
<style>
body {
  font-family: helvetica, garamond;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

h1 {
  color: white;
  position: relative;
  background: black;
  height: 90px;
  font-size: 300%;
  padding-top: 15px;
  padding-left: 15px;
}

h1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid black;
    box-shadow: 9999px 0 0 black;
}

.btn-warning {
  background-color: #FF6464;
  font-weight: 140%;
}

.user-options {
  align: center;
  position: absolute;
  padding-left: 20px;
  margin-top: -25px;
  margin-bottom: 50px;
}

#user-profile, #user-activity, #user-tags {
  margin: 0 auto;
  background: #fff9f2;
  position: relative;
  border-radius: 12px;
  padding: 30px;
  max-width: 80%;
  display: none;
  z-index: -1;
}

</style>



    <section id="blog" class="container">
        <div class="center">
            <p class="lead">{{profileCtrl.user.name}}</p>
        </div>


        <div class="user-options">

  <!-- <a class="activity"><button type="button" class="btn btn-warning btn-lg">Activity</button></a> -->
</div>

        <div class="blog">
            <div class="row">
   <a style="display: none;" ng-style="profileCtrl.style" type="button"><button ng-click = "profileCtrl.editProfile()" class="btn btn-warning btn-lg">Edit</button><a/>
  <a style="display: none;" ng-style="profileCtrl.style"><button type="button" ng-click = "profileCtrl.deleteProfile()" class="btn btn-warning btn-lg">Delete Profile</button></a>
                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                                
                            <div class="col-xs-12 col-sm-10 blog-content">
                                <h3><a>About Me</a></h3>
                                <h4>{{profileCtrl.user.bio}}</h4>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget tags">
                        <h3>Tags</h3>
                        <ul class="tag-cloud">
                            <li ng-repeat="tag in profileCtrl.interests"><a class="btn btn-xs btn-primary">{{tag}}</a></li>
                            <p ng-if="eventCtrl.tags.length == 0" class="text-muted">No interest</p>
                        </ul>

                    </div><!--/.tags-->
              </aside>  
    </section>
<!--     <div class="user-name">
  <h1 >{{profileCtrl.user.name}}</h1>
</div> -->
<!--                  <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                                
                            <div class="col-xs-12 col-sm-10 blog-content">
                                <h2><a>{{profileCtrl.user.name}}</a></h2>
                                <h3>{{profileCtrl.user.bio}}</h3>
                            </div>
                        </div>    
                    </div>
                </div> -->
<!-- 
            <div class="center">
               <h2>{{profileCtrl.user.name}}</h2>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
 -->









<script>
  $(document).ready(function(){
      $('body').on('click', ".profile", function(){
          $("#user-profile").slideToggle();
      });
  });

  $(document).ready(function(){
      $('body').on('click', ".tags", function(){
          $("#user-tags").slideToggle();
      });
  });

  // $(document).ready(function(){
  //     $('body').on('click', ".activity", function(){
  //         $("#user-activity").slideToggle();
  //     });
  // });
</script>



